<div class="row mb-4">
  <div *ngFor="let card of cards" [class]="card.size">
    <div class="card card-box">
      <div class="card-head">
        <header>{{ card.title }}</header>
        <div class="tools">
          <a *ngFor="let tool of card.tools" class="fa {{ tool.icon }} btn-color" href="javascript:;"></a>
        </div>
      </div>
      <div class="card-body no-padding height-9">
        <div class="recent-report__chart">
          <div [id]="card.id"></div>
        </div>
      </div>
    </div>
  </div>
</div>