<div class="row mb-4">
  <div class="col-md-8">
    <div class="card card-box">
      <div class="card-head">
        <header>HOSPITAL SURVEY</header>
        <div class="tools">
          <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
          <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
          <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
      </div>
      <div class="card-body no-padding height-9">
        <div class="recent-report__chart">
          <div id="chart1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-box">
      <div class="card-head">
        <header>HOSPITAL SURVEY</header>
        <div class="tools">
          <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
          <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
          <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
      </div>
      <div class="card-body no-padding height-9">
        <div class="recent-report__chart">
          <div id="chart2"></div>
        </div>
      </div>
    </div>
  </div>
</div>