<!--Page Title-->
<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
  <div class="container">
      <div class="title-text">
          <h1>appointment</h1>
          <ul class="title-menu clearfix">
              <li>
                <a href="/pages/home">home &nbsp;/</a>
              </li>
              <li>appointment</li>
          </ul>
      </div>
  </div>
</section>
<!--End Page Title-->

<!-- Contact Section -->
<section class="blog-section section style-three pb-0">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <app-appointment-request></app-appointment-request>                    
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="appointment-image-holder">
                  <figure>
                      <img src="images/background/appoinment.jpg" alt="Appointment">
                  </figure>
              </div>                       
          </div>
      </div>                    
  </div>
</section>




<!--team section-->
<section class="team-section section">
  <div class="container">
      <div class="section-title text-center">
          <h3>Our Expert
              <span>Doctors</span>
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illo, rerum 
              <br>natus nobis deleniti doloremque minima odit voluptatibus ipsam animi?</p>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                  <img src="images/team/doctor-2.jpg" alt="doctor" class="img-responsive">
                  <div class="contents text-center">
                      <h4>Dr. Robert Barrethion</h4>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.</p>
                      <a href="#" class="btn btn-main">read more</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                  <img src="images/team/doctor-lab-3.jpg" alt="doctor" class="img-responsive">
                  <div class="contents text-center">
                      <h4>Dr. Marry Lou</h4>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.</p>
                      <a href="#" class="btn btn-main">read more</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                  <img src="images/team/event-2.jpg" alt="doctor" class="img-responsive">
                  <div class="contents text-center">
                      <h4>Dr. Sansa Stark</h4>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.</p>
                      <a href="#" class="btn btn-main">read more</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End team section-->