<!--team section-->
<section class="team-section section  mx-auto max-w-5xl px-1 sm:px-4">
  <div class="container">
      <div class="section-title text-center">
          <h3>Our Expert
              <span>Doctors</span>
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illo, rerum
              <br>natus nobis deleniti doloremque minima odit voluptatibus ipsam animi?
          </p>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                  <img src="images/team/doctor-2.jpg" alt="doctor" class="img-responsive">
                  <div class=" mx-auto contents text-center">
                      <h4 class="text-base mt-2">Dr. Robert Barrethion</h4>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.
                      </p>
                      <div><button class="mx-auto btn btn-main">read more</button></div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                  <img src="images/team/doctor-lab-3.jpg" alt="doctor" class="img-responsive">
                  <div class="contents text-center">
                      <h4 class="text-base mt-2">Dr. Marry Lou</h4>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.
                      </p>
                      <div><button class="mx-auto btn btn-main">read more</button></div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                  <img src="images/team/event-2.jpg" alt="doctor" class="img-responsive">
                  <div class="contents text-center">
                      <h4 class="text-base mt-2">Dr. Sansa Stark</h4>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.
                      </p>
                      <div><button class="mx-auto btn btn-main">read more</button></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End team section-->