<!--team section-->
<section class="team-section section  mx-auto max-w-5xl px-1 sm:px-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let doctor of doctorsData">
                <div class="team-member">
                    <img [src]="doctor.image" alt="doctor" class="img-responsive">
                    <div class="contents text-center mx-auto">
                        <h4 class="text-base mt-2">{{ doctor.name }}</h4>
                        <p>{{ doctor.professionalStatement }}</p>
                        <div>
                            <button class="mx-auto btn btn-main">read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End team section-->