.contact .contact-form .form-control {
    margin-bottom: 30px;
  }
  
  .contact .address-block .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .contact .address-block .media {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      text-align: center;
    }
    .contact .address-block .media:last-child {
      margin-bottom: 30px;
    }
  }
  
  .contact .address-block .media i {
    color: #48bdc5;
    font-size: 30px;
    margin-right: 35px;
    width: 40px;
    display: block;
  }
  
  @media (max-width: 767px) {
    .contact .address-block .media i {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  
  .contact .address-block .media .media-body h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .contact .address-block .media .media-body p {
    line-height: 25px;
  }
  
  .contact .address-block .media:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .form-control {
    box-shadow: none;
    border-radius: 0;
    padding: 15px 20px;
    font-size: 14px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border: 1px solid #48bdc5;
  }
  
  .form-control.main {
    padding: 20px;
  }

