<form  [formGroup]="forgetForm" (ngSubmit)="onForgotSubmit()">
    <div *ngIf="isDialogOpen"
      class="fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-gray-50 bg-opacity-60 backdrop-blur-sm transition-opacity duration-300"
      (click)="closeDialog()">
      <div
        [ngClass]="{ 'opacity-100 translate-y-0 scale-100': isDialogMounted, 'opacity-0 -translate-y-28 scale-90 pointer-events-none': !isDialogMounted }"
        class="relative m-4 p-6 w-11/12 sm:w-2/3 md:w-1/2 lg:w-2/5 min-w-[280px] rounded-lg bg-white shadow-sm transition-all duration-300"
        (click)="$event.stopPropagation()">
    
        <!-- Dialog Title -->
        <div  class="flex shrink-0 items-center pb-4 text-xl font-medium text-slate-800">
          Forgot Password  
        </div>   
    
        <div class="flex shrink-0 items-center  text-sm text-slate-800 pb-2"> Enter your email address below and we'll send
          you a link to reset your password. </div>
    
        <div class="space-y-4">
          <div class="flex flex-col">
            <label class="font-medium text-slate-700">Enter Your Email</label>
            <input type="email" class="p-2 border rounded-md" formControlName="emailForgot"  placeholder="Enter Your Email" />
          </div>
    
        </div>
    
        <div class="flex shrink-0 flex-wrap items-center pt-6 justify-end space-x-4">
          <button (click)="closeDialog()"
            class="rounded-md border border-transparent py-2 px-6 text-center text-sm transition-all text-slate-600 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            Close
          </button>
          <button [disabled]="!forgetForm.valid"
            class="rounded-md bg-blue-600 py-2 px-6 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-800 focus:shadow-none active:bg-blue-800 hover:bg-blue-800 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="submit">
            Apply
          </button>
        </div>
      </div>
    </div>
    </form>